body,html{
    height:100%;
    margin:0;
    background:#e2dedb;
}
.wrapper{
    min-height:100%;
    margin: 0 5vw 0 5vw;
}
header{
    position:sticky;
    top:0;
    width:100vw;
    background-color:lightgreen;
    margin-bottom:.5rem;
    z-index:9999;
}
#heroImage{
    font-size:2rem;
    position:relative;
    width:100%;
}
#heroImage h1,#scrollButtonDown{
    position:absolute;
    text-align:center;
    bottom:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#heroImage h1{
    color:antiquewhite;
}
nav{
    display:inline-block;
    margin:.75rem 0 .75rem 60px;
}
ul{
    list-style-type:none;
    margin:0 0 1rem 0;
    font-size:1.5rem;
}
li{
    border-radius:.5rem;
    float:left;
    overflow:hidden;
    box-sizing:border-box;
    margin:0;
    border:none;
    background:green;
}
a{
    text-decoration: none;
    text-align:center;
    padding:7px 20px 0px 20px;
}
footer{
    position:relative;
    height:1.2rem;
    text-align:center;

}
#scrollButton{
    display:none;
    position:fixed;
    bottom: 50px;
    right:20px;
}
.indexImg{
    display:inline;
    width:100%;
}
p{
    text-indent:1.5rem;
}
@media only screen and (max-width: 800px) {
    .wrapper{
        margin:0 1rem 0 1rem;
    }
    img{
        width:100vw;
    }
}