/* CSS RESET */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
}

*:visited {
  color: white;
}

/* STYLES FOR NAV */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  background-color: black;
  position: sticky;
  top:0;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}

nav {
  height: 64px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  position: fixed;
  left: -200%;
  top: 6rem;
  width: 100%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  margin: auto;
  transition: 0.5s;
  background-color: black;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.nav-menu.active {
  left: 0;
}

.nav-menu li {
  margin: 2rem 0;
  list-style: none;
  color: black;
}

.burger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 5px;
  background-color:white;
  margin: 5px auto;
}

/* STYLES FOR HERO */

.home-hero {
  width: 100%;
  height: 75vh;
  background: url(../img/protest.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 2rem;
}

.about-hero {
  width: 100%;
  height: 75vh;
  background: url(../img/say.jpg);
  background-size: cover;
  overflow: hidden;
  background-position: center;
}

.donate-hero {
  width: 100%;
  height: 75vh;
  background: url(../img/say.jpg);
  background-size: cover;
  overflow: hidden;
  background-position: center;
}

.contact-hero {
  width: 100%;
  height: 75vh;
  background: url(../img/say.jpg);
  background-size: cover;
  overflow: hidden;
  background-position: center;
}

/* STYLES FOR HOMEPAGE */

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.wrapper {
  display: grid;
  grid-gap: 1rem;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1rem; 
}

.wrapper h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.wrapper p {
  font-size: large;
  font-weight: 200;
  line-height: 2rem;
  padding: 1rem;
  text-align: center;
}

/* STYLES FOR ABOUT */

.reform {
  margin: auto;
  width: 95%;
  padding: 1rem;
  text-align: center;
}

.reform p {
  line-height: 1.5rem;
  font-weight: 900;
}

.cards {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
}

.cards h3 {
  font-size: 2rem;
  font-weight: 1000;
}

.card {
  text-align: center;
  padding: 1rem;
  line-height: 1.5rem;
  font-weight: 900;
}

.card img {
  margin: 1rem;
}

.card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.line {
  height: 2px;
  width: 75%;
  background-color: #1B1B1B;
  margin: 1rem auto;
  border-radius: 1px;
}
/* STYLES FOR RESOURCES*/
#api{
  margin:auto;
  margin-top:1rem;
  border:#1B1B1B 2px solid;
  width:60%;
  text-align:center;
  max-height: 80vh;
  overflow:hidden;
}

#api *{
  margin: .8rem 0 .8rem 0;
}
#apiResults{
  height:200px;
  overflow:scroll;
  text-align:left;
  margin-right:1rem;
}
#totalJobs{
  text-align:center;
}
.job p{
  display:inline;
}
#resources{
  text-align:center;
  margin: 1rem 10rem 1rem 10rem;
  border:#1B1B1B 2px solid;
}
#resources a:visited{
  color:green;
}
.resourceArticle{
  margin:1rem;
}

/* STYLES FOR RESOURCES */

#api{
  margin:auto;
  margin-top:1rem;
  border:#1B1B1B 2px solid;
  width:60%;
  text-align:center;
}

  #api *{
    margin: .8rem 0 .8rem 0;
  }
  .job p{
    display:inline;
  }

/* STYLES FOR DONATIONS */

.donate {
  display: grid;
  grid-gap: 1rem;
  max-width: 1200px;
  margin: 1rem auto;
  margin-bottom: 1rem;
}


.support ul li {
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}

.pay h3 {
  text-align: center;
}
.amount {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 16px;
  text-align: center;
  margin: 1rem;
}

.other {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-evenly;
  height: 25vh;
}

button {
  border: none;
  padding: 1rem 10px;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px black solid;
}

.faq ul li{
  text-align: center;
  padding: 1rem;
}

.checkbox{
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.information {
  margin: auto;
  align-content: center;
}

.information h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.donation-form input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  background: transparent;
  outline: none;
  color: #726659;
  padding: .5rem;
  margin: .5rem auto;
}

.donation-form {
  margin-top: 50px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 40px;
  line-height: 40px;
  align-items: center;
}

.donation-form textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
}

.method {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

/* STTLES FOR CONTACT */

.contact {
  display: grid;
  grid-gap: 1rem;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1rem; 
}

.contact article{
  padding: 1rem;
  text-align: center;
}

.contact ul li {
  padding: 1rem;
}

.contact article form {
  display: flex;
  flex-direction: column; 
}

.contact article input {
  font-size: 0.875em;
  background: transparent;
  outline: none;
  color: #726659;
  padding: .5rem;
  margin: .5rem auto;
  width: 100%;
}

.contact article textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
}



/* STYLES FOR FOOTER */

footer {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  width: 80%;
  padding: auto;
  margin: auto;
  margin-bottom: 1rem;
}

/*** RESPONSIVE GRID ***/

/* AT 600px WIDE */
@media (min-width: 600px) {

  /* ABOUT */

  .cards { 
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }

}

/* AT 900px WIDE */
@media (min-width: 900px) {

  /* NAV */

  header {
    padding-right: 1rem;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: static;
    border-radius: none;
    box-shadow: none;
    list-style: none;
    transition: 0ms;
    background-color: black;
  }

  .nav-menu li {
    margin: 0 1rem;
  }

  .burger {
    display: none;
  }

  /* HOME */

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ABOUT */

  .cards { 
    grid-template-columns: repeat(3, 1fr);
  }


  /* DONATIONS */

  .donate, .contact {
    grid-template-columns: repeat(2,1fr);
  }

  /* CONTACT */

  .contact {
    width: 75%;
    align-content: center;
  }

  /* .contact-us { 
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
  } */

}


